.table-quiz-container {
    .action {
        .btn {
        margin-left: 50px;}
    }
    table {
        border-collapse: collapse;
       }
     th {
        background-color: #A0DEFF;
       }
    
}
